.app {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-search {
    display: flex;
    flex-direction: row;
    align-items: center;

    #search-input {
        width: 600px;
        font-size: 20px;
    }

    #search-button {
        width: 100px;
        height: 61px;
        font-size: 20px;
        margin-left: 20px;
    }
}