#App {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#CenterSearch {
    display: flex;
    flex-direction: row;
    align-items: center;

    #SearchInput {
        width: 600px;
        font-size: 20px;
    }

    #SearchButton {
        width: 100px;
        height: 61px;
        font-size: 20px;
        margin-left: 20px;
    }
}