.app {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-search {
    display: flex;
    flex-direction: row;
    align-items: center;

    #search-input {
        width: 600px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 5px 20px;
        margin-right: 10px;
        font-size: 20px;
    }

    #search-button {
        width: 100px;
        height: 52px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 5px;
        background-color: #f1f1f1;
        cursor: pointer;
        font-size: 20px;
    }
}